<!--
<p *ngFor="let character of allCharacters | async">
    {{character | json}}
</p>
--> 
<div fxFlex fxLayout="column">
    <div>
        <mat-card>
            <mat-card-actions>
                <button (click)="getBitacora()" 
                    mat-raised-button type="submit" color="secundary">Bitacora</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" 
        *ngFor="let character of allCharacters | async" style="padding: 5px;">
            <mat-card>
                <img mat-card-image 
                    src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" 
                alt="{{character.name}}">
                <mat-card-title>
                    {{character.name}}
                </mat-card-title>
                    <mat-card-actions>
                        <button (click)="getCharacter(character.id)" 
                            mat-raised-button type="submit" color="primary">Detalles</button>
                    </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> 
